<%= render 'navbar' %>

<div class="container" id="blog-div">

  <%= render 'admin_controls' %>

  <% @posts.each do |post| %>
    <div class="well">
      <h3 class="blog-title"><%= link_to post.title, post_path(post) %></h3>
      <div class="post-body">
        <%= markdown(post.content) %>
      </div>
      <!-- <p class="blog-content"><%= post.content %></p> -->
      <p class="author-text">Author:  <%= post.author.capitalize %></p>
      <p class="published-text">Published At:  <%= post.created_at.to_formatted_s(:long) %></p>
      <p class="edit-text">Edited At:  <%= post.updated_at.to_formatted_s(:long) %></p>

      <% if admin_signed_in? %>
        <h4 style="padding-top: 20px;">Admin Controls</h4>
        <%= link_to "Edit Post", edit_post_path(post) %>
        <%= link_to "Delete Post", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  <% end %>
</div>
