<%= render 'navbar' %>

<div class="container" id="blog-div">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="post vertically-centered">
          <h3 class="post-title text-center"><%= post.title %></h3>
          <p class="post-author text-center"><%= post.author.capitalize %> on <%= post.created_at.strftime("%B %d, %Y") %></p>

          <p class="post-preview text-center"><%= post.preview %></p>

          <div class="centered">
            <button type="button" class="btn btn-default"><%= link_to "Read More", post_path(post) %></button>
          </div>

          <% if admin_signed_in? %>
          <div class="centered admin-controls">
            <p><%= link_to "Edit Post", edit_post_path(post) %></p>
            <p><%= link_to "Delete Post", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %></p>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
