<%= render 'navbar' %>

<div class="container" id="blog-div">
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <div class="post-body">
    <%= markdown(@post.content) %>
  </div>

  <p>
    <strong>Author:</strong>
    <%= @post.author %>
  </p>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>

</div>
